h2,h3,h4 {
	color: #325B9D;
	font-weight: 600;
	font-size: 200%;
}
h5 {
	color: #325B9D;
	font-weight: 600;
	font-size: 130%;
}
html,body {
	margin: 0;
	padding: 0;
}

body {
	font: 13px verdana,helvetica,arial,sans-serif;
	padding: 20px 7%;
	color: #333333;
	max-width: 700px;
}

